:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #212121;
  --secondary-color: #2196f3;
  --third-color: #ffffff;
  --fourth-color: #757575;
  --fifth-color: #2f303a;
  --sixth-color: rgba(255, 255, 255, 0.6);
  --seventh-color: #f5f4fa;
  --FontDefaultRoboto: 'Roboto', sans-serif;
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
}
.container {
  padding: 0 15px;
  width: 1200px;
  margin: auto;
}
.freespace-in-centrum-menu {
  display: flex;
  margin: 0;
  justify-content: space-between;
}
span {
  color: var(--secondary-color);
}
/* ==== HEADER ==== */
/* =====WEBSTUDIO===== */
.logo-headerlinks-container {
  display: flex;
  gap: 93px;
}
.page-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  border-bottom: solid 1px #ececec;
}
.logo-container {
  display: flex;
  align-items: center;
}
.navigation-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.navigation-logo:focus,
.navigation-logo:active {
  color: var(--secondary-color);
}
.header-links-container {
  display: flex;
  align-items: center;
  border: 0;
  gap: 46px;
  width: 261px;
  margin-left: 93px;
}
.navigation-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-list-link:active {
  color: var(--secondary-color);
}
.navigation-list-link-portfolio {
  font-family: var(--FontDefaultRoboto);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02;
  color: var(--secondary-color);
  text-decoration: none;
}
.navigation-list-link-portfolio:hover,
.navigation-list-link-portfolio:focus,
.navigation-list-link-portfolio:active {
  color: var(--secondary-color);
}

.header-links-contact-container {
  display: flex;
  margin: 0;
  border: 0;
  align-items: center;
  gap: 2em;
}
.mailto {
  font-family: var(--FontDefaultRoboto);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--fourth-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.mailto:hover,
.mailto:focus,
.mailto:active {
  color: var(--secondary-color);
}
.telephone {
  font-family: var(--FontDefaultRoboto);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--fourth-color);
}
.telephone:hover,
.telephone:focus,
.telephone:active {
  color: var(--secondary-color);
}
/* ==== END OF HEADER ==== */

/* ==== MAIN ==== */
.main-title {
  background: var(--fifth-color);
}

.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 2.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--secondary-color);
}
.modal-button:hover,
.modal-button:focus,
.modal-button:active {
  color: var(--third-color);
}

.paragraph-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.paragraph-content {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
}
/* ==== about us ====*/
/* ==== end about us ====*/
/* ==== workers ==== */
.worker-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.583;
  text-align: center;
  letter-spacing: 0.03em;
}
.worker-position {
  font-size: 16px;
  line-height: 1.583;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
}
/* ==== end workers ==== */
/* ==== end MAIN ==== */
/* ==== FOOTER ==== */
.footer {
  background: var(--fifth-color);
}
.footer .navigation-logo {
  color: var(--third-color);
}
.container-footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--third-color);
}
.footer-mail {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--sixth-color);
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--secondary-color);
}
.footer-phone {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--sixth-color);
}
.footer-phone:hover,
.footer-phone:focus {
  color: var(--secondary-color);
}

.figcaption-main {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.figcaption-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
}
/* ==== end FOOTER ==== */
/* === buttons ==== */
.menu-button {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--seventh-color);
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  border-radius: 4px;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  padding: 6px 20px 6px 20px;
}
.menu-button:hover,
.menu-button:focus,
.menu-button:active {
  background-color: var(--secondary-color);
  color: var(--third-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.portfolio-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
}

.portfolio-l-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 0 0 24px;
}
.figcaption-description {
  color: var(--fourth-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 00.03em;
  margin: 0 0 0 24px;
}
.portfolio-element-border {
  display: flex;
  flex-direction: column;
  border-right: solid 1px rgba(238, 238, 238, 1);
  border-bottom: solid 1px rgba(238, 238, 238, 1);
  border-left: solid 1px rgba(238, 238, 238, 1);
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 370px;
  height: 101px;
  gap: 4px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.main-button-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-color: #2f303a;
}
h1 {
  color: var(--seventh-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.secondary-menu-button {
  padding: 10px 41px 10px 42px;
  margin-top: 30px;
  transition: all 0.2s ease;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: #ffffff;
  cursor: pointer;
}
.secondary-menu-button:hover {
  background-color: var(--third-color);
  color: var(--secondary-color);
}
.menu-button:focus,
.menu-button:active {
  background-color: var(--secondary-color);
  color: var(--third-color);
}
.align-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
}
.important-section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border: 0 auto;
  padding-left: 0px;
  gap: 30px;
}
.informations {
  color: var(--fourth-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.style-descriptions {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}
.page-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: solid 1px #ececec;
}
.main-section,
.menu-buttons,
.portfolio-main-section,
.part-of-the-page,
.main-section-our-team-list {
  list-style: none;
}
.main-section-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}
.gap-50-px {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.part-of-the-page {
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 50px;
}
.presentation {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* justify-content: center; */

.secondary-title,
.part-of-the-page {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
}
.main-section-team-list {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}
.team-figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--seventh-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px 70px;
}
.team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 00.03em;
  margin: 0;
}
.team-role {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 00.03em;
  color: var(--fourth-color);
  margin: 0;
}
.no-margin {
  margin: 0px auto;
}
.address {
  font-family: var(--FontDefaultRoboto);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 00.03em;
  color: var(--seventh-color);
  text-decoration: none;
}

.footer-mail {
  font-family: var(--FontDefaultRoboto);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 00.03em;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--secondary-color);
}
.footer-phone {
  font-family: var(--FontDefaultRoboto);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 00.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-phone:hover,
.footer-phone:focus {
  color: var(--secondary-color);
}
.footer-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  border: 0;
  padding-left: 100;
  justify-content: space-between;
  background-color: #2f303a;
}
/* .gap-20-px {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
.height-portfolio {
  height: 1548px;
  justify-content: center;
}
.menu-buttons {
  display: flex;
  justify-content: center;
  margin: 0;
  border: 0;
  padding: 0;
  gap: 8px;
}
.footer-mail-portfolio {
  font-family: var(--FontDefaultRoboto);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 00.03em;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail-portfolio:hover,
.footer-mail-portfolio:focus {
  color: var(--secondary-color);
}
.footer-container {
  margin: 0px auto;
  padding-left: 60px;
}
